    <div class="row">
        <div class="col">
            <hr>
            &copy; 2020.<br>
            Disclaimer: The information on this page may be innacurate.
        </div>
    </div>
</div><!-- /.container -->
</body>
</html>