<%- include("partials/header.ejs") %>

<div class="row">
    <div class="col text-center">
        <h1>Dwarf Planet Pluto</h1>
        
        <figure class="figure">
            <img class="figure-img img-fluid rounded planet" src="/img/pluto.jpg" alt="Dwarf Planet Pluto">
        </figure>
    </div>
</div>

<div class="row">
    <div class="col">

        <p>Pluto – which is smaller than Earth’s Moon – has a heart-shaped 
            glacier that’s the size of Texas and Oklahoma. This fascinating 
            world has blue skies, spinning moons, mountains as high as the 
            Rockies, and it snows – but the snow is red.</p>

        <p>On July 14, 2015, NASA’s New Horizons spacecraft made its historic 
            flight through the Pluto system – providing the first close-up 
            images of Pluto and its moons and collecting other data that has 
            transformed our understanding of these mysterious worlds on the 
            solar system’s outer frontier.</p>
        
        <p>In the years since that groundbreaking flyby, nearly every conjecture 
            about Pluto possibly being an inert ball of ice has been thrown out 
            the window or flipped on its head.</p>

        <p>“It’s clear to me that the solar system saved the best for last!” 
            said Alan Stern, New Horizons principal investigator from the 
            Southwest Research Institute, Boulder, Colorado. “We could not have 
            explored a more fascinating or scientifically important planet at 
            the edge of our solar system. The New Horizons team worked for 15 
            years to plan and execute this flyby and Pluto paid us back in 
            spades!”</p>

        <blockquote class="small">
            <em>Source</em>: <a href="https://solarsystem.nasa.gov/planets/dwarf-planets/pluto/overview/">Pluto | Nasa Solar System Exploration</a>
        </blockquote>
    </div>
</div>

<%- include("partials/footer.ejs") %>
