<%- include("partials/header.ejs") %>

<div class="row">
    <div class="col text-center">
        <h1>Planet Saturn</h1>
        
        <figure class="figure">
            <img class="figure-img img-fluid rounded planet" src="/img/saturn-67671_640.jpg" alt="Planet Saturn">
            <figcaption class="figure-caption text-right">Image by <a href="https://pixabay.com/users/wikiimages-1897/">WikiImages</a> from <a href="https://pixabay.com/">Pixabay</a></figcaption>
        </figure>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>Saturn is the sixth planet from the Sun and the second largest planet 
            in our solar system.</p>

        <p>Adorned with thousands of beautiful ringlets, Saturn is unique among 
            the planets. It is not the only planet to have rings—made of chunks 
            of ice and rock—but none are as spectacular or as complicated as 
            Saturn's.</p>

        <p>Like fellow gas giant Jupiter, Saturn is a massive ball made mostly 
            of hydrogen and helium.</p>

        <blockquote class="small">
            <em>Source</em>: <a href="https://solarsystem.nasa.gov/planets/saturn/overview/">Saturn | Nasa Solar System Exploration</a>
        </blockquote>
    </div>
</div>

<%- include("partials/footer.ejs") %>
